@model address_book_csharp.Models.Address

<h1>Delete Address</h1>
<div>
    <strong>Name:</strong> @Model.Name
</div>
<div>
    <strong>Street:</strong> @Model.Street
</div>
<div>
    <strong>City:</strong> @Model.City
</div>
<div>
    <strong>State:</strong> @Model.State
</div>
<div>
    <strong>Zip:</strong> @Model.Zip
</div>
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Delete</button> |
    <a asp-action="Index">Back to List</a>
</form>
